<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block  title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">QuickCheckTest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'latest_stories' %}">Latest Items</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Story Type</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="{% url 'latest_stories' %}?type=story">Story</a>
              <a class="dropdown-item" href="{% url 'latest_stories' %}?type=job">Job</a>
              <a class="dropdown-item" href="{% url 'latest_stories' %}?type=poll">Poll</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0" action="{% url 'search_results' %}" method="post">
            {% csrf_token %}
          <input class="form-control mr-2" type="text" placeholder="Search" name="search_box">
          <input class="btn btn-success" type="submit">

        </form>
      </div>
    </nav>
<!--
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="" class="navbar-brand">QuickCheckTest</a>
        <button class="navbar-toggler" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a href="#" class="nav-link">Latest Items</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Story Items</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Job Items</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Poll Items</a>
                </li>

                <li class="nav-item">
                    <form action="">

                    </form>
                </li>
            </ul>
        </div>

    </nav>
   -->
    {%  block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>