{% extends 'base.html' %}
{% block title %} Latest Stories {% endblock %}
{% block content %}
    <h2>Latest Stories</h2>
    {% for base in bases %}
        <div class="m-5">

            {% if base.title %}
                <h3><a href="{% url 'story_detail'  base.id %}">{{ base.title }}</a></h3>
            {% endif %}
            <span>{{ base.type }}</span>
            <p>
            {% if base.author %}
                <p>By:{{ base.author }}</p>
            {% endif %}
            </p>

            {% if base.url %}
                link: {{ base.url }}
            {% endif %}

            <p>Hacker news id: {{ base.hacker_id }}</p>
            <hr>
        </div>
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock %}