{% extends 'base.html' %}
{% block title %} Search Results {% endblock %}
{% block content %}
    <h2>Search Results</h2>
    {% for base in bases %}
        <div class="m-5">
            {% if base.title %}
                <h3>{{ base.title }}</h3>
            {% endif %}
            <span>{{ base.type }}</span>
            <p>
            {% if base.author %}
                {{ base.author }}
            {% endif %}
            </p>
            <p>Hacker news id: {{ base.hacker_id }}</p>
        </div>
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock %}